{% load pagination_tags %}

{% if page_obj.has_other_pages %}
  <nav class="d-flex justify-content-around" aria-label="pagination">
    <ul class="pagination mb-0">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" aria-label="Previous"
                                 href="?{% url_replace "page" page_obj.previous_page_number %}"><i
         class="fas fa-angle-left" aria-hidden="true"></i></a></li>
        {% if page_obj.number > 3 %}
          <li class="page-item"><a class="page-link" href="?{% url_replace "page" 1 %}">1</a></li>
          {% if page_obj.number > 4 %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
          {% endif %}
        {% endif %}
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
          <li class="page-item active"><a class="page-link" href="?{% url_replace "page" i %}">{{ i }}</a></li>
        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
          <li class="page-item"><a class="page-link" href="?{% url_replace "page" i %}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
          <li class="page-item disabled"><span class="page-link">...</span></li>
          <li class="page-item"><a class="page-link" href="?{% url_replace "page" page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></li>
        {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
          <li class="page-item"><a class="page-link" href="?{% url_replace "page" page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" aria-label="Next"
                                 href="?{% url_replace "page" page_obj.next_page_number %}"><i
         class="fas fa-angle-right" aria-hidden="true"></i></a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}