{% extends 'tgrsite/main.html' %}
{% load vote_tags %}

{% block title %}Votes{% endblock %}
{% block pagetitle %}Votes{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url 'votes:elections' %}">Votes</a></li>
{% endblock %}
{% block breadcrumbs_child %}Admin{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.votes.change_election %}
        <a class="btn btn-block btn-outline-dark mb-3" href="{% url "admin:app_list" "votes" %}">Edit</a>
    {% endif %}
{% endblock %}

{% block body %}
    <h2>Change</h2>
    <p>
        <a href="{% url "votes:create_election" %}"
           class="btn btn-outline-success btn-block">
            Create New
        </a>
    </p>
    <p>
        <a href="{% url "votes:tickets" %}"
           class="btn btn-outline-success btn-block">
            Manage Tickets
        </a>
    </p>
    <div class="list-group mb-3">
        {% for election in object_list %}
            <a href="{% url "votes:update_election" election.id %}"
               class="list-group-item list-group-item-action">
                {{ election.name }}
            </a>
        {% endfor %}
    </div>

    {% if open_elections %}
        <p>
            <a href="{% url "votes:reset_vote" %}"
               class="btn btn-outline-danger btn-block">
                Reset User Vote
            </a>
        </p>
        <h2>Live Votes</h2>
        <ul class="list-group mb-3">
            {% for election in open_elections %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ election.name }}
                    <span class="badge badge-primary badge-pill">{{ election|sanitized_vote_count }}</span>
                </li>
            {% endfor %}
        </ul>
        <form class="mb-3" method="post" action="{% url "votes:close" %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success btn-block">
                Close all votes
            </button>
        </form>

    {% endif %}
    {% if closed_elections %}
        <h2>Results</h2>
        <div class="list-group">
            {% for election in closed_elections %}
                <a href="{% url "votes:results" election.id %}"
                   class="list-group-item list-group-item-action">
                    {{ election.name }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}