{% extends 'tgrsite/main.html' %}
{% load vote_tags %}

{% block title %}Votes{% endblock %}
{% block pagetitle %}Votes{% endblock %}

{% block breadcrumbs_child %}Votes{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.votes.change_election %}
        <a class="btn btn-block btn-outline-dark mb-3" href="{% url "admin:votes_election_changelist" %}">Edit</a>
    {% endif %}
{% endblock %}

{% block body %}
    {% if perms.votes.change_election %}
    <p>
        <a href="{% url "votes:admin" %}"
           class="btn btn-outline-warning btn-block">
            Admin
        </a>
    </p>
    {% endif %}
    <div class="list-group">
        {% for election in object_list %}
            {% current_user_ticket election as ticket %}
            {% if ticket.spent %}
                <p href="{% url "votes:vote" election.id %}"
                   class="list-group-item list-group-item-light" data-toggle="tooltip" data-placement="top" title="Already Voted">
                    <i class="fas fa-vote-yea fa-fw"></i> {{ election.name }}
                </p>
            {% else %}
                <a href="{% url "votes:vote" election.id %}"
                   class="list-group-item list-group-item-action">
                    <i class="fas fa-file-alt fa-fw"></i> {{ election.name }}
                </a>
            {% endif %}
        {% empty %}
            <div class="list-group-item text-muted">No elections currently available. Please check back later.</div>
        {% endfor %}
    </div>
{% endblock %}