{% extends 'tgrsite/main.html' %}
{% block title %}New Newsletter{% endblock %}
{% block pagetitle %}New Newsletter{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url "newsletters:newsletters_index" %}">Newsletters</a></li>
{% endblock %}
{% block breadcrumbs_child %}New{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid">
                {% include "parts/render_form.html" %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="container-fluid full-preview">
                <div class="preview"></div>
            </div>
        </div>
    </div>
{% endblock %}
